@media (min-width: 1200px) {
  body.no-sidebar.woocommerce div.product.g5shop__single-product-layout-1 {
    div.images {
      width: 50%;
    }
    div.summary {
      width: 41.66666666666667%;
      padding-left: 0;
    }
  }
}

.g5shop__single-product-summary {
  margin-bottom: 6.25rem;
}



