@font-face {
  font-family: 'gustablo';
  src:  url('../font/gustablo.eot?ejf562');
  src:  url('../font/gustablo.eot?ejf562#iefix') format('embedded-opentype'),
    url('../font/gustablo.ttf?ejf562') format('truetype'),
    url('../font/gustablo.woff?ejf562') format('woff'),
    url('../font/gustablo.svg?ejf562#gustablo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gustablo-"], [class*=" gustablo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gustablo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gustablo-truck:before {
  content: "\e975";
}
.gustablo-home:before {
  content: "\e90e";
}
.gustablo-menu-button:before {
  content: "\e965";
}
.gustablo-plane:before {
  content: "\e905";
}
.gustablo-lock:before {
  content: "\e901";
}
.gustablo-unlock:before {
  content: "\e902";
}
.gustablo-certificate:before {
  content: "\e909";
}
.gustablo-planet:before {
  content: "\e90a";
}
.gustablo-level:before {
  content: "\e90c";
}
.gustablo-share:before {
  content: "\e926";
}
.gustablo-map:before {
  content: "\e928";
}
.gustablo-pen:before {
  content: "\e92a";
}
.gustablo-image:before {
  content: "\e92b";
}
.gustablo-dollar:before {
  content: "\e92c";
}
.gustablo-bookmark:before {
  content: "\e92e";
}
.gustablo-discuss:before {
  content: "\e933";
}
.gustablo-users:before {
  content: "\e934";
}
.gustablo-question:before {
  content: "\e937";
}
.gustablo-star:before {
  content: "\e938";
}
.gustablo-star-half:before {
  content: "\e93e";
}
.gustablo-star-empty:before {
  content: "\e93f";
}
.gustablo-heart-full:before {
  content: "\e94f";
}
.gustablo-heart-outline:before {
  content: "\e942";
}
.gustablo-pencil:before {
  content: "\e900";
}
.gustablo-pin:before {
  content: "\e952";
}
.gustablo-quote:before {
  content: "\e956";
}
.gustablo-menu:before {
  content: "\e903";
}
.gustablo-play-button:before {
  content: "\e904";
}
.gustablo-expand:before {
  content: "\e90b";
}
.gustablo-email1:before {
  content: "\e91d";
}
.gustablo-email2:before {
  content: "\e90d";
}
.gustablo-black-envelope:before {
  content: "\e924";
}
.gustablo-telephone1:before {
  content: "\e957";
}
.gustablo-telephone2:before {
  content: "\e913";
}
.gustablo-up:before {
  content: "\e976";
}
.gustablo-down:before {
  content: "\e977";
}
.gustablo-left:before {
  content: "\e978";
}
.gustablo-right:before {
  content: "\e979";
}
.gustablo-arrow-bottom:before {
  content: "\e90f";
}
.gustablo-arrow-top:before {
  content: "\e910";
}
.gustablo-arrow-left:before {
  content: "\e911";
}
.gustablo-arrow-right:before {
  content: "\e912";
}
.gustablo-arrow-left2:before {
  content: "\e92f";
}
.gustablo-arrow-right2:before {
  content: "\e930";
}
.gustablo-arrow-left3:before {
  content: "\e931";
}
.gustablo-arrow-right4:before {
  content: "\e935";
}
.gustablo-arrow-left4:before {
  content: "\e936";
}
.gustablo-arrow-left5:before {
  content: "\e939";
}
.gustablo-arrow-right5:before {
  content: "\e93a";
}
.gustablo-next-track:before {
  content: "\e93b";
}
.gustablo-previous:before {
  content: "\e93c";
}
.gustablo-pause-button:before {
  content: "\e93d";
}
.gustablo-calendar1:before {
  content: "\e968";
}
.gustablo-calendar2:before {
  content: "\e941";
}
.gustablo-calendar3:before {
  content: "\e92d";
}
.gustablo-time1:before {
  content: "\e969";
}
.gustablo-time2:before {
  content: "\e943";
}
.gustablo-asside:before {
  content: "\e944";
}
.gustablo-gallery:before {
  content: "\e945";
}
.gustablo-photo:before {
  content: "\e946";
}
.gustablo-link:before {
  content: "\e947";
}
.gustablo-audio:before {
  content: "\e948";
}
.gustablo-info:before {
  content: "\e949";
}
.gustablo-status:before {
  content: "\e94a";
}
.gustablo-play:before {
  content: "\e94b";
}
.gustablo-play-arrow:before {
  content: "\e94e";
}
.gustablo-eye:before {
  content: "\e94c";
}
.gustablo-user1:before {
  content: "\e959";
}
.gustablo-user2:before {
  content: "\e95a";
}
.gustablo-chat1:before {
  content: "\e95b";
}
.gustablo-chat2:before {
  content: "\e96a";
}
.gustablo-magnifier1:before {
  content: "\e950";
}
.gustablo-magnifier2:before {
  content: "\e953";
}
.gustablo-magnifier3:before {
  content: "\e954";
}
.gustablo-shop:before {
  content: "\e96b";
}
.gustablo-shop1:before {
  content: "\e958";
}
.gustablo-shop2:before {
  content: "\e95c";
}
.gustablo-shop3:before {
  content: "\e966";
}
.gustablo-shop4:before {
  content: "\e967";
}
.gustablo-shop5:before {
  content: "\e914";
}
.gustablo-plus1:before {
  content: "\e915";
}
.gustablo-plus2:before {
  content: "\e91b";
}
.gustablo-mius1:before {
  content: "\e96c";
}
.gustablo-plus3:before {
  content: "\e95e";
}
.gustablo-minus2:before {
  content: "\e95f";
}
.gustablo-close-button1:before {
  content: "\e906";
}
.gustablo-tick1:before {
  content: "\e960";
}
.gustablo-close-button2:before {
  content: "\e907";
}
.gustablo-tick2:before {
  content: "\e908";
}
.gustablo-tick3:before {
  content: "\e91c";
}
.gustablo-external-link:before {
  content: "\e96d";
}
.gustablo-facebook:before {
  content: "\e91e";
}
.gustablo-twitter:before {
  content: "\e922";
}
.gustablo-youtube:before {
  content: "\e920";
}
.gustablo-linkedin:before {
  content: "\e96e";
}
.gustablo-instagram:before {
  content: "\e96f";
}
.gustablo-pinterest:before {
  content: "\e970";
}
.gustablo-google-plus:before {
  content: "\e971";
}
.gustablo-vimeo:before {
  content: "\e91f";
}
.gustablo-apple:before {
  content: "\e91a";
}
.gustablo-android:before {
  content: "\e919";
}
.gustablo-dribbble:before {
  content: "\e917";
}
.gustablo-behance:before {
  content: "\e918";
}
.gustablo-flickr:before {
  content: "\e916";
}
.gustablo-github:before {
  content: "\e921";
}
.gustablo-paypal:before {
  content: "\e923";
}
.gustablo-soundcloud:before {
  content: "\e925";
}
.gustablo-spotify:before {
  content: "\e927";
}
.gustablo-tumblr:before {
  content: "\e929";
}
.gustablo-vk:before {
  content: "\e932";
}
.gustablo-whatsapp:before {
  content: "\e940";
}
.gustablo-skype:before {
  content: "\e972";
}
.gustablo-viber:before {
  content: "\e94d";
}
.gustablo-dropbox:before {
  content: "\e951";
}
.gustablo-kickstarter:before {
  content: "\e973";
}
.gustablo-envato:before {
  content: "\e955";
}
.gustablo-snapchat:before {
  content: "\e95d";
}
.gustablo-quora:before {
  content: "\e961";
}
.gustablo-delicious:before {
  content: "\e962";
}
.gustablo-digg:before {
  content: "\e963";
}
.gustablo-wordpress:before {
  content: "\e974";
}
.gustablo-rss:before {
  content: "\e964";
}