@import "../sass/variables";
.editor-styles-wrapper.editor-styles-wrapper {
	flex: 0 0 auto;
	.editor-post-title__block .editor-post-title__input {
		font-family: $font_primary !important;
		font-size: 1.25rem!important;
		font-weight: 600!important;
		color: $color_text_heading;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	.components-icon-button.block-editor-block-switcher__toggle {
		overflow: hidden;
	}

	.wp-block-table__cell-content {
		padding: 0;
	}

	 .wp-block-quote footer {
		font-size: 1.125rem;
	}
	.wp-block-quote__citation {
		font-size: 0.75rem;
	}
	blockquote.wp-block-quote.is-style-large .wp-block-quote__citation {
		font-size: 1rem;
	}
	.wp-block-image .components-resizable-box__container img {
		width: auto;
	}
	.wp-block-pullquote .wp-block-pullquote__citation {
		font-family: $font_primary;
	}
	.wp-block {
		//max-width: ($container_width * (100 - $sidebar_width) / 100);
		max-width: ($container_width * (100 - $sidebar_width) / 100 - $grid_gutter_width);
	}

	.wp-block[data-align=full] {
		max-width: none;
	}
	.wp-block[data-align=wide] {
		max-width: 1170px;
	}
	p {
		line-height: 1.6;
	}
	h1, h2, h3, h4, h5, h6 {
		margin-top: 2rem;
	}
	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
	}

	.wp-block-categories ul {
		list-style-type: none;
	}
	.wp-block-categories ul,
	.block-editor ul.wp-block-archives {
		padding-left: 0;
	}

}


body.has-sidebar {
	.editor-styles-wrapper.editor-styles-wrapper {
		.wp-block[data-align=full],
		.wp-block[data-align=wide] {
			max-width: ($container_width * (100 - $sidebar_width) / 100 - $grid_gutter_width);
			//max-width: ($container_width * (100 - $sidebar_width) / 100);
			margin-left: auto;
			margin-right: auto;
		}
	}
}
