.woocommerce #payment {
  #place_order {
    float: left;
  }
}

#order_review_heading {
  margin-top: 5.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1.5625rem;
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table {
  margin-bottom: 5.5rem;
}

