.content-404-wrapper {
    text-align: center;
    margin: 53px 0 80px;
    h2 {
        font-size: 10rem;
        margin-bottom: 0;
        color: #dfdfdf;
        line-height: 1.1;
    }
    .page-main-title {
        color: #1b1b1b;
        font-size: 26px;
        line-height: 60px;
        word-spacing: 4px;
    }
    p {
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width: 767px) {
    .content-404-wrapper {
        h2 {
            font-size: 6rem;
            line-height: 1;
        }
        .page-main-title {
            font-size: 22px;
            line-height: 30px;
        }
    }
}