.page-header {
	padding: 3rem 0;
	background-color: $color_background_page_title;
}
.page-main-title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 1.6;
	@extend %font-primary;
	@extend %heading-color;
}
.page-sub-title {
	font-size: 1rem;
	font-weight: 600;
	@extend %gray-color;
	p {
		margin: 0;
	}
}